django
requests
bs4
matplotlib
flask
nltk
pandas
networkx
-U pip setuptools
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz#egg=en_core_web_sm

