{% extends 'base.html' %}

{% block title %} Confirm Delete {% endblock %}

{% block content %}
<style type="text/css">
     @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
    body{
      background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
    #text{
        font-family: 'Caveat', cursive;
        font-size: 20px;
        box-shadow:3px 3px 6px #000808;
        background-color: #CA7B8C;
        color: black;
    }
    #delete_button{
        font-family: 'Caveat', cursive;
        font-size: 20px;
        box-shadow:3px 3px 6px #000808;
        background-color: #7BB3CA;
        color: black;
        position:fixed;
        left: 1130px;
        top: 230px;
    }
</style>
<br><br><br>
    <form action = "" method = "post">
            {% csrf_token %}
            <div id='text' class="alert alert-danger">Do you want to delete &nbsp "{{object}}"?</div>
            <input type = "submit" id="delete_button" value="Delete" class = "btn btn-info btn-sm">
    </form>

{% endblock %}