{% extends 'base.html' %}

{% block title %} Bookmark {% endblock %}

{% block content %}
<style type="text/css">
    @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
    body{
      background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
    .url{
        font-family: 'Caveat', cursive;
        font-size: 30px;
    }
    #site_name{
        font-family: 'Caveat', cursive;
        font-size: 20px;
    }
    #update_button{
        border-radius: 4px solid;
        box-shadow:3px 3px 6px #000808;
        position: fixed;
        left: 1130px;
        top: 430px;
    }
</style>
<br><br><br>

    <form action = "" method = "post">
        {% csrf_token %}
        <p>
            <label for="id_site_name" style="font-family: 'Caveat', cursive; font-size: 30px;" >Site name:</label> <input type="text" id='site_name' class="form-control" name="site_name"  maxlength="500" required id="id_site_name">
        </p>

        <p class="url">
            <label for="id_url" >Site URL:</label> <input type="url" class="form-control" name="url" maxlength="200" required id="id_url">
        </p>
        <input type = "submit" value="Update" id='update_button' class = "btn btn-info brn-sm">
    </form>
{% endblock %}